.share-container {
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.share-image {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.share-form {
    width: 95%;
}
