.appContentWrapper {
    display: flex;
    min-height: 100%;
    flex-direction:column;
}

.appContent {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  flex:1;
}

.item-gallery {
  margin: 0 20px 20px;
  width: 1140px;
  background-color: rgba(0, 0, 0, 0);
}